//  Colors
$Primary-red: hsl(0, 100%, 74%);
$Primary-green: hsl(154, 59%, 51%);
$Accent-blue: hsl(248, 32%, 49%);
$Neutral-dark-blue: hsl(249, 10%, 26%);
$Neutral-grayish-blue: hsl(246, 25%, 77%);

// Responsive breakpoint
$mobile: 37.5rem;
$tablet: 62rem;
// @media screen and (max-width: $mobile) {
// }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background: $Primary-red url("../images/bg-intro-desktop.png");
}
