.container {
  width: 80%;
  max-width: 100rem;
  margin: 0 auto;
  @media screen and (max-width: $tablet) {
    width: 90%;
  }
}
.innerSection {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    height: auto;
    margin: 10rem 0;
  }
  &__item {
    flex-basis: 50%;
  }
  &__item1 {
    padding-right: 4rem;
    @media screen and (max-width: $tablet) {
      padding-right: 0;
    }
    @media screen and (max-width: $mobile) {
      padding-right: 0;
    }
  }
  &__item2 {
    padding-left: 4rem;
    margin: 4rem;
    @media screen and (max-width: $tablet) {
      padding-left: 0;
    }
    @media only screen and (max-width: $mobile) {
      padding-left: 0;
      margin: 0;
    }
  }
  &__priceSection {
    background-color: $Accent-blue;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    border-radius: 4px;
    box-shadow: 0 0.6rem 0rem rgba($Neutral-dark-blue, 0.4);
    @media screen and (max-width: $mobile) {
      padding: 2rem;
    }
  }
  &__para {
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    @media screen and (max-width: $mobile) {
      text-align: center;
      margin-bottom: 8rem;
    }
  }
}
.footer {
  text-align: center;
  &__attribution {
    font-size: 2rem;
  }
}
